services:

  web:
    build:
      context: .
      dockerfile: docker/DjangoDockerfile
    container_name: django_web
    env_file: .env
    depends_on:
      - db
    volumes:
      - .:/app
      - static_data:/app/static
      - media_data:/app/media

  bot:
    build:
      context: .
      dockerfile: docker/BotDockerfile
    container_name: telegram_bot
    env_file: .env
    depends_on:
      - db

  nginx:
    image: nginx:latest
    container_name: django_nginx
    ports:
      - "80:80"
    volumes:
      - static_data:/app/static
      - media_data:/app/media
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

  db:
    image: mysql:8
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  static_data:
  media_data:
  db_data:
